# IDE
.idea/
.vscode/

# Envs and installers
anaconda/
anaconda/envs/
anaconda/pkgs/
aeroblade/aeroblade-venv/
Anaconda3-*.sh

# Caches/outputs
tmp/
openimage_results/
combined_pipeline/cache/
baseline_classifier/runs/
gi_conference_results/baseline_results/

# File types
*.png
*.pth
*.srec
*.egg-info/

